.mycell {
    display: block;
    text-align: center;
    min-height: 50px;
    border: none;
    width: 100% !important;
    color: black;
}

.haveNo { background-color: green; }

.isOnlyOne {
    background-color: white;
    font-size: 70%;
}

.isEmpty {
    background-color: lightgrey;
    font-size: 70%;
}