@page
@model Sudoku.WebUi.Areas.Admin.Pages.Users.IndexModel
@{
    ViewData["Title"] = "UserOverview";
}

<div class="row">
    <h1 class="display-4">Registered Users</h1>
</div>
<div class="row">
    <table class="table">
        <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Roles
            </th>
            <th>
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @item.UserName
                </td>
                <td>
                    @await Model.GetUserRoles(item)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>

</div>